* {
	font-family: monospace;
}
body {
	background-color: pink;
}

#major_div {
	display: flex;
	justify-content: ;
}

.contacts, .bio {
	text-align: center;
}

section {
	padding-bottom: 5px;
	
}

.section_heading{
	font-weight: 600;
	font-size: 20px;
}

#name {
	font-weight: 600;
	font-size: 40px;
}

